In [6]:
# Initial imports
import numpy as np
import pandas as pd
import hvplot.pandas
from pathlib import Path
import plotly.express as px
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans

In [7]:
# Load the cleaned NYC_Crash_Cyclist_Clean_2020_2022.csv dataset.
file_path = "Resources/Segment2/Final_project_NYC_Crash_Cyclist_Cleaned.csv"
crash_df = pd.read_csv(file_path, index_col=0 )
print(crash_df.shape)
crash_df.head(10)

(9193, 21)

,index,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,NUMBER OF PERSONS INJURED,...,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
COLLISION_ID,,,,,,,,,,,,,,,,,,,,,
4271563,13297,2020-01-02,13:30:00,MANHATTAN,10003,40.714165,-74.006320,"(40.714165, -74.00632)",CHAMBERS STREET,1.0,...,0,0,1,0,0,0,Driver Inattention/Distraction,Unspecified,Sedan,Bike
4268322,13344,2020-01-02,16:00:00,MANHATTAN,10012,40.725643,-73.992070,"(40.725643, -73.99207)",BOWERY,1.0,...,0,0,1,0,0,0,Turning Improperly,Unspecified,Sedan,Bike
4268207,13347,2020-01-02,17:35:00,BROOKLYN,11221,40.693874,-73.917770,"(40.693874, -73.91777)",CENTRAL AVENUE,1.0,...,0,0,1,0,0,0,Traffic Control Disregarded,Unspecified,Station Wagon/Sport Utility Vehicle,Bike
4268408,13304,2020-01-03,08:20:00,BRONX,10456,40.820747,-73.906006,"(40.820747, -73.906006)",JACKSON AVENUE,1.0,...,0,0,1,0,0,0,Driver Inattention/Distraction,Unspecified,E-Bike,Taxi
4269187,13349,2020-01-03,11:35:00,BROOKLYN,11205,40.691017,-73.954475,"(40.691017, -73.954475)",DE KALB AVENUE,1.0,...,0,0,1,0,0,0,View Obstructed/Limited,Unsafe Speed,Sedan,E-Bike
4268760,13308,2020-01-03,13:00:00,BRONX,10456,40.831055,-73.905846,"(40.831055, -73.905846)",3 AVENUE,1.0,...,0,0,1,0,0,0,Unspecified,Unspecified,Van,Bike
4269539,13255,2020-01-04,02:42:00,QUEENS,11412,40.709023,-73.757835,"(40.709023, -73.757835)",104 AVENUE,1.0,...,0,0,1,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,Sedan,Bike
4268883,13288,2020-01-05,09:25:00,MANHATTAN,10003,40.732845,-73.995926,"(40.732845, -73.995926)",EAST 9 STREET,1.0,...,0,0,1,0,0,0,Passing or Lane Usage Improper,Unspecified,Taxi,Bike
4269012,13325,2020-01-05,14:26:00,BROOKLYN,11236,40.649060,-73.913260,"(40.64906, -73.91326)",EAST 92 STREET,1.0,...,0,0,1,0,0,0,Unspecified,Unspecified,Sedan,Bike
4273384,13268,2020-01-06,19:00:00,BROOKLYN,11201,40.684810,-73.991770,"(40.68481, -73.99177)",SMITH STREET,1.0,...,0,0,1,0,0,0,Driver Inattention/Distraction,Unspecified,Station Wagon/Sport Utility Vehicle,Bike

In [8]:
# clean space in the rows valus and create new column name street
def clean_space(test):
    return test.strip()
crash_df["STREET"]=crash_df["ON STREET NAME"].apply(clean_space)
crash_df1 = crash_df.drop(["ON STREET NAME"], axis=1)

In [9]:
# making new dataframe by grouing borough
crash_df_borough = crash_df1.groupby(["BOROUGH"]).count()

In [10]:
crash_df_borough.head()

,index,CRASH DATE,CRASH TIME,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,STREET
BOROUGH,,,,,,,,,,,,,,,,,,,,
BRONX,1057,1057,1057,1057,1057,1057,1057,1057,1057,1057,1057,1057,1057,1057,1057,1057,1057,1057,1057,1057
BROOKLYN,3673,3673,3673,3673,3673,3673,3673,3673,3673,3673,3673,3673,3673,3673,3673,3673,3673,3673,3673,3673
MANHATTAN,2569,2569,2569,2569,2569,2569,2569,2569,2569,2569,2569,2569,2569,2569,2569,2569,2569,2569,2569,2569
QUEENS,1760,1760,1760,1760,1760,1760,1760,1760,1760,1760,1760,1760,1760,1760,1760,1760,1760,1760,1760,1760
STATEN ISLAND,133,133,133,133,133,133,133,133,133,133,133,133,133,133,133,133,133,133,133,133

In [11]:
# making new dataframe by grouing street
crash_df_street = crash_df1.groupby(["STREET"]).count()
crash_df_street

,index,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
STREET,,,,,,,,,,,,,,,,,,,,
1 AVENUE,85,85,85,85,85,85,85,85,85,85,85,85,85,85,85,85,85,85,85,85
1 STREET,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
10 AVENUE,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23
100 STREET,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
101 AVENUE,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
YELLOWSTONE BOULEVARD,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
YORK AVENUE,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6
YORK STREET,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
northern boulevard,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
w 36th street,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [12]:
# reset index and make street as a column in a new dataframe
crash_df_street1=crash_df_street.reset_index().drop(["index"], axis=1)
crash_df_street1

,STREET,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
0,1 AVENUE,85,85,85,85,85,85,85,85,85,85,85,85,85,85,85,85,85,85,85
1,1 STREET,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
2,10 AVENUE,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23
3,100 STREET,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
4,101 AVENUE,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1668,YELLOWSTONE BOULEVARD,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
1669,YORK AVENUE,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6
1670,YORK STREET,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
1671,northern boulevard,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
1672,w 36th street,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [13]:
# realized that STREET column has some lowercase values, convert them into uppercase
crash_df_street1['STREET'] = crash_df_street1['STREET'].str.upper()

In [14]:
crash_df_street1["STREET"]

0                    1 AVENUE
1                    1 STREET
2                   10 AVENUE
3                  100 STREET
4                  101 AVENUE
                ...
1668    YELLOWSTONE BOULEVARD
1669              YORK AVENUE
1670              YORK STREET
1671       NORTHERN BOULEVARD
1672            W 36TH STREET
Name: STREET, Length: 1673, dtype: object

In [15]:
# import Final_project_NYC_BIKE_LANE_cleaned.csv data to match accident site 
file_path = "Resources/Segment2/Final_project_NYC_BIKE_LANE_cleaned.csv"
NYC_BIKE_LANE = pd.read_csv(file_path, index_col=0 )
print(NYC_BIKE_LANE.shape)
NYC_BIKE_LANE.head(10)

(1292, 10)

,THE_GEOM,BOROUGH,STREET,FROM_STREET,TO_STREET,ON_OFF_STREET,BIKE_DIR,LANE_COUNT,FT_FACILIT,TF_FACILIT
0,MULTILINESTRING ((-74.24992754986717 40.500876...,STATEN ISLAND,CONFERENCE HOUSE PARK GREENWAY,HYLAN BLVD,SWINNERTON ST,OFF,2,2,Greenway,Greenway
10,MULTILINESTRING ((-74.22765169907424 40.508199...,STATEN ISLAND,HYLAN BLVD,PAGE AV,POILLON AV,ON,2,2,Standard,Standard
13,MULTILINESTRING ((-74.22124840590146 40.505101...,STATEN ISLAND,MOUNT LORETTO GREENWAY,HYLAN BLVD,HYLAN BLVD,OFF,2,2,Greenway,Greenway
28,MULTILINESTRING ((-74.19697470899112 40.557563...,MANHATTAN,79 ST NORTH ACCESS RAMP,W 79 ST,HUDSON RIVER GREENWAY 79TH ST LINK,OFF,2,2,Curbside,Sharrows
45,MULTILINESTRING ((-74.16694849149822 40.602796...,STATEN ISLAND,ARLENE ST,LAMBERTS LA,SIGNS RD,ON,2,2,Standard,Standard
46,MULTILINESTRING ((-74.1644874429756 40.5904554...,STATEN ISLAND,STEINWAY AVE,NOME AVE,TRAVIS AVE,ON,2,2,Sharrows,Sharrows
51,MULTILINESTRING ((-74.16013627378767 40.591808...,STATEN ISLAND,TRAVIS AVE,STEINWAY AVE,KELLY BLVD,ON,2,2,Standard,Standard
54,MULTILINESTRING ((-74.18676019465556 40.629973...,STATEN ISLAND,GULF AV,WESTERN AV,GULF AV,OFF,2,2,Sidewalk,Sidewalk
66,MULTILINESTRING ((-74.12675265275138 40.564444...,STATEN ISLAND,GUYON AV,S RAILROAD AV,ACORN ST,ON,2,2,Sharrows,Curbside
71,MULTILINESTRING ((-74.12514181938411 40.565888...,STATEN ISLAND,S RAILROAD AV,GUYON AV,BEACH AV,ON,2,2,Sharrows,Sharrows

In [16]:
NYC_BIKE_LANE["THE_GEOM"]

0        MULTILINESTRING ((-74.24992754986717 40.500876...
10       MULTILINESTRING ((-74.22765169907424 40.508199...
13       MULTILINESTRING ((-74.22124840590146 40.505101...
28       MULTILINESTRING ((-74.19697470899112 40.557563...
45       MULTILINESTRING ((-74.16694849149822 40.602796...
                               ...
20754    MULTILINESTRING ((-73.84227808018568 40.741245...
20782    MULTILINESTRING ((-74.02916023126342 40.640774...
20786    MULTILINESTRING ((-73.79512969395029 40.866381...
20802    MULTILINESTRING ((-73.98875574891973 40.695018...
20806    MULTILINESTRING ((-73.9623259945716 40.6299687...
Name: THE_GEOM, Length: 1292, dtype: object

In [17]:
import re

In [18]:
bike_lane_streets = NYC_BIKE_LANE["STREET"].tolist()
#borough

In [19]:
accident_streets = crash_df_street1["STREET"].tolist()
#accident_streets

In [20]:
df = [NYC_BIKE_LANE["STREET"], crash_df_street1["STREET"]]

In [21]:
df1 = pd.concat(df, axis=1)

In [22]:
df1

                               STREET      STREET
0      CONFERENCE HOUSE PARK GREENWAY    1 AVENUE
1                                 NaN    1 STREET
2                                 NaN   10 AVENUE
3                                 NaN  100 STREET
4                                 NaN  101 AVENUE
...                               ...         ...
20754                 AMPHITHEATRE BR         NaN
20782                      WAKEMAN PL         NaN
20786    ORCHARD BEACH BOARDWALK LINK         NaN
20802                      JOHNSON ST         NaN
20806             AVE H PED UNDERPASS         NaN

[2730 rows x 2 columns]

In [23]:
add_map = dict([
    ("AV", "AVENUE"),
    ("AVE", "AVENUE"),
    ("BLVD", "BOULEVARD"),
    ("BL", "BOULEVARD"),
    ("DR", "DRIVE"),
    ("LA", "LANE"),
     ("PL", "PLACE"),
    ("PY", "PARKWAY"),
    ("PKYN", "PARKWAY")
    ("RD", "ROAD"),
    ("ST", "STREET"),
    ("WY", "WAY"),
    ("TR", "TRAIL"),    
])

TypeError: 'tuple' object is not callable