In [78]:
# Initial imports
import numpy as np
import pandas as pd
import hvplot.pandas
from pathlib import Path
import plotly.express as px
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans

In [79]:
# Load the crypto_data.csv dataset.
file_path = "Resources/NYC_BICYCLE_NETWORK.csv"
bike_lane_df = pd.read_csv(file_path)
print(bike_lane_df.shape)
bike_lane_df.head(5)

(20824, 17)

,the_geom,segmentid,Shape_Le_1,boro,street,fromstreet,tostreet,onoffst,facilitycl,allclasses,bikedir,lanecount,ft_facilit,tf_facilit,ft2facilit,tf2facilit,comments
0,MULTILINESTRING ((-74.24992754986717 40.500876...,53,131.771990,5,CONFERENCE HOUSE PARK GREENWAY,HYLAN BLVD,SWINNERTON ST,OFF,I,I,2,2,Greenway,Greenway,NaN,NaN,NaN
1,MULTILINESTRING ((-74.24915648792326 40.498717...,57,268.689582,5,CONFERENCE HOUSE PARK GREENWAY,HYLAN BLVD,SWINNERTON ST,OFF,I,I,2,2,Greenway,Greenway,NaN,NaN,NaN
2,MULTILINESTRING ((-74.24934702119957 40.499440...,59,420.193253,5,CONFERENCE HOUSE PARK GREENWAY,HYLAN BLVD,SWINNERTON ST,OFF,I,I,2,2,Greenway,Greenway,NaN,NaN,NaN
3,MULTILINESTRING ((-74.25185153133741 40.502805...,61,238.242198,5,CONFERENCE HOUSE PARK GREENWAY,HYLAN BLVD,SWINNERTON ST,OFF,I,I,2,2,Greenway,Greenway,NaN,NaN,NaN
4,MULTILINESTRING ((-74.2513327304861 40.5022891...,64,646.293832,5,CONFERENCE HOUSE PARK GREENWAY,HYLAN BLVD,SWINNERTON ST,OFF,I,I,2,2,Greenway,Greenway,NaN,NaN,NaN

In [80]:
bike_lane_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20824 entries, 0 to 20823
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   the_geom    20824 non-null  object
 1   segmentid   20824 non-null  int64
 2   Shape_Le_1  20824 non-null  float64
 3   boro        20824 non-null  int64
 4   street      20824 non-null  object
 5   fromstreet  20824 non-null  object
 6   tostreet    20824 non-null  object
 7   onoffst     20824 non-null  object
 8   facilitycl  20824 non-null  object
 9   allclasses  20824 non-null  object
 10  bikedir     20824 non-null  object
 11  lanecount   20824 non-null  int64
 12  ft_facilit  15430 non-null  object
 13  tf_facilit  15264 non-null  object
 14  ft2facilit  15 non-null     object
 15  tf2facilit  48 non-null     object
 16  comments    948 non-null    object
dtypes: float64(1), int64(3), object(13)
memory usage: 2.7+ MB

In [81]:
#bike_lane_df.dropna(axis=0, how='all')
#print(bike_lane_df.shape)
bike_lane_df1=bike_lane_df.drop(["ft2facilit","tf2facilit", "comments"], axis=1)

In [82]:
bike_lane_df1.columns = bike_lane_df1.columns.str.upper()

In [83]:
bike_lane_df1.rename(columns={'BORO': 'BOROUGH', 'FROMSTREET': 'FROM_STREET', 'TOSTREET': 'TO_STREET',
                             'ONOFFST': 'ON_OFF_STREET', 'ALLCLASSES': 'ALL_CLASSES', "BIKEDIR":
                             "BIKE_DIR","LANECOUNT": "LANE_COUNT" }, inplace =True)

In [84]:
bike_lane_df1.drop(["SEGMENTID", "SHAPE_LE_1", "FACILITYCL", "ALL_CLASSES"], axis=1, inplace=True)

In [85]:
# get the unique street name form the dataframe as array and count the number
len(bike_lane_df2["STREET"].unique())

1292

In [86]:
bike_lane_df2 = bike_lane_df1.drop_duplicates(subset = ["STREET"])

In [87]:
print(bike_lane_df2.shape)

(1292, 10)

In [88]:
bike_lane_df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1292 entries, 0 to 20806
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   THE_GEOM       1292 non-null   object
 1   BOROUGH        1292 non-null   int64
 2   STREET         1292 non-null   object
 3   FROM_STREET    1292 non-null   object
 4   TO_STREET      1292 non-null   object
 5   ON_OFF_STREET  1292 non-null   object
 6   BIKE_DIR       1292 non-null   object
 7   LANE_COUNT     1292 non-null   int64
 8   FT_FACILIT     968 non-null    object
 9   TF_FACILIT     915 non-null    object
dtypes: int64(2), object(8)
memory usage: 111.0+ KB

In [89]:
bike_lane_df2["BOROUGH"] ==5

0         True
10        True
13        True
28       False
45        True
         ...
20754    False
20782    False
20786    False
20802    False
20806    False
Name: BOROUGH, Length: 1292, dtype: bool

In [90]:
# 1.Manhattan
# 2. Bronx
# 3. Queens 
# 4. Brooklyn
# 5. Staten Island
bike_lane_df2.loc[bike_lane_df2["BOROUGH"] == 1, "BOROUGH"] = "MANHATTAN"
bike_lane_df2.loc[bike_lane_df2["BOROUGH"] == 2, "BOROUGH"] = "BRONX"
bike_lane_df2.loc[bike_lane_df2["BOROUGH"] == 3, "BOROUGH"] = "QUEENS"
bike_lane_df2.loc[bike_lane_df2["BOROUGH"] == 4, "BOROUGH"] = "BROOKLYN"
bike_lane_df2.loc[bike_lane_df2["BOROUGH"] == 5, "BOROUGH"] = "STATEN ISLAND"

/Users/dilhumarablat/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/pandas/core/indexing.py:1719: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [91]:
bike_lane_df2

,THE_GEOM,BOROUGH,STREET,FROM_STREET,TO_STREET,ON_OFF_STREET,BIKE_DIR,LANE_COUNT,FT_FACILIT,TF_FACILIT
0,MULTILINESTRING ((-74.24992754986717 40.500876...,STATEN ISLAND,CONFERENCE HOUSE PARK GREENWAY,HYLAN BLVD,SWINNERTON ST,OFF,2,2,Greenway,Greenway
10,MULTILINESTRING ((-74.22765169907424 40.508199...,STATEN ISLAND,HYLAN BLVD,PAGE AV,POILLON AV,ON,2,2,Standard,Standard
13,MULTILINESTRING ((-74.22124840590146 40.505101...,STATEN ISLAND,MOUNT LORETTO GREENWAY,HYLAN BLVD,HYLAN BLVD,OFF,2,2,Greenway,Greenway
28,MULTILINESTRING ((-74.19697470899112 40.557563...,MANHATTAN,79 ST NORTH ACCESS RAMP,W 79 ST,HUDSON RIVER GREENWAY 79TH ST LINK,OFF,2,2,Curbside,Sharrows
45,MULTILINESTRING ((-74.16694849149822 40.602796...,STATEN ISLAND,ARLENE ST,LAMBERTS LA,SIGNS RD,ON,2,2,Standard,Standard
...,...,...,...,...,...,...,...,...,...,...
20754,MULTILINESTRING ((-73.84227808018568 40.741245...,BROOKLYN,AMPHITHEATRE BR,EDERLE PROMENADE,MERIDIAN RD,OFF,2,2,Greenway,Greenway
20782,MULTILINESTRING ((-74.02916023126342 40.640774...,QUEENS,WAKEMAN PL,COLONIAL RD,RIDGE BL,OFF,2,2,Sidewalk,Sidewalk
20786,MULTILINESTRING ((-73.79512969395029 40.866381...,BRONX,ORCHARD BEACH BOARDWALK LINK,PARK DRIVE GREENWAY,PRCHARD BEACH BOARDWALK,OFF,2,0,NaN,NaN
20802,MULTILINESTRING ((-73.98875574891973 40.695018...,QUEENS,JOHNSON ST,ADAMS ST,JAY ST,ON,2,2,Sharrows,Protected Path
20806,MULTILINESTRING ((-73.9623259945716 40.6299687...,QUEENS,AVE H PED UNDERPASS,AVE H,AVE H,OFF,2,0,NaN,NaN

In [92]:
bike_lane_borough = bike_lane_df2.groupby(["BOROUGH"]).count()

In [93]:
bike_lane_borough

,THE_GEOM,STREET,FROM_STREET,TO_STREET,ON_OFF_STREET,BIKE_DIR,LANE_COUNT,FT_FACILIT,TF_FACILIT
BOROUGH,,,,,,,,,
BRONX,170,170,170,170,170,170,170,142,133
BROOKLYN,336,336,336,336,336,336,336,259,246
MANHATTAN,342,342,342,342,342,342,342,232,225
QUEENS,368,368,368,368,368,368,368,263,247
STATEN ISLAND,76,76,76,76,76,76,76,72,64

In [94]:
bike_lane_df2.to_csv("Final_project_NYC_BIKE_LANE_cleaned.csv")